$font20: calc(5px + 15 * (100vw / 1920));
$fontHeader: calc(30px + 50 * (100vw / 1920));
$font40: calc(20px + 20 * (100vw / 1920));
$font144: calc(40px + 104 * (100vw / 1920));
$font80: calc(20px + 60 * (100vw / 1920));
